h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: 94px;
    font-style: normal;
    text-align: center;
    text-emphasis: none;
}

body {
    background-image:url("hey.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
    
    }


body { 
    text-align: center;
    font-family: fantasy;
    font-size:50px;
    font-weight:1500;
    color: wheat;
}

body{
    background-color: darkgoldenrod;
    
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: rgb(24, 4, 4);
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float:left;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 63px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color:wheat;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color:maroon;
    color: black;
  }
  


h2 {
    text-align: center;
    font-size: 40px;
    text-shadow: 2px 2px 5px grey;
    color: white;
}

h1 {
    text-align: center;
    text-decoration-style: wavy;
    font-weight: bold;

}


h2 {
  text-align: center;
  font-size: 40px;
  text-shadow: 2px 2px 5px grey;
  color: white;
}

h1 {
  text-align: center;
  text-decoration: underline;
  font-weight: bold;

}
body{
  font-family: 'Quicksand', sans-serif;
  background-image: url("hey.jpg");
  color:black;
  font-size: 50x;
}

h1{
  font-size: 36px;
  padding-top: 20px;
}

.container{
  width: 80%;
  margin: auto;
}

#year-input{
  border-radius: 5px;
  width: 60px;
  height: 20px;
  box-shadow: 2px 2px #000000;
}

#month-input{
  border-radius: 5px;
  width: 60px;
  height: 20px;
  box-shadow: 2px 2px #000000;
}

#day-input{
  border-radius: 5px;
  width: 60px;
  height: 20px;
  box-shadow: 2px 2px #000000;
}

#get-name{
  border-radius: 5px;
  color: #000000;
  background-image: url("hey.jpg");
  text-align: center;
  border: solid 1px #000000;
  width: 108px;
  height: 32px;
  font-size: 13px;
  box-shadow: 2px 2px #000000;
}

#result{
  text-align: center;
}

.content{
  background-image: url("hey.jpg");
  /* height: 600px; */
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 10px;
  margin-bottom: auto;
  padding-bottom: 20px;
  box-shadow: 2px 2px #000000;
  border-radius: 0.5%;
}

.research{
  text-decoration: underline;
  color: white;
}

.clear{
  border-radius: 5px;
  color: #000000;
  background-image: url("hey.jpg") ;
  text-align: center;
  border: solid 1px #000000;
  width: 108px;
  height: 32px;
  font-size: 13px;
  box-shadow: 2px 2px #000000;
}

a:hover{
  color: #006B3F;
}

/*tr*/
table {
  width:100%;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
  text-align: left;
}
table#t01 tr:nth-child(even) {
  background-color: #eee;
}
table#t01 tr:nth-child(odd) {
 background-color: #fff;
}
table#t01 th {
  background-color: black;
  color: white;
}
